.footer-container {
	background-color: var(--footer-color);
	color: var(--background-color);
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-left {
	font-family: var(--candara-text);
	text-transform: uppercase;
	padding-left: 11rem;
	color: var(--text-color);
}

.footer-middle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.footer-right {

}