{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static './css/base.css' %}">
	<link rel="stylesheet" href="{% static './css/header.css' %}">
	<link rel="stylesheet" href="{% static './css/responsive.css' %}">
	<link rel="stylesheet" href="{% static './css/contact.css' %}">
	<link rel="stylesheet" href="{% static './css/projects.css' %}">
	<link rel="stylesheet" href="{% static './css/experience.css' %}">
	<link rel="stylesheet" href="{% static './css/footer.css' %}">
	<link rel="stylesheet" href="{% static './css/img_bio_skills.css' %}">
	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	<header>
		<div class="header-container">
			<div class="header-left-side center-row">
				<a href="{% url 'home_view' %}"><h3>Daphane</h3></a>
			</div>

			<nav class="header-right-side center-row">
				<input type="checkbox" id="nav-check">
				
				<div class="nav-btn">
					<label for="nav-check">
						<span></span>
						<span></span>
						<span></span>
					</label>
				</div>

				<div class="nav-options"id="navOptions">
					<a href="{% url 'about_view' %}">About Me</a>
					<a href="{% url 'projects_list' %}">Projects</a>
					<a href="{% url 'experience_list' %}">Experience</a>
					<a href="{% url 'contact_view' %}">Contact</a>
				</div>
			</nav>
		</div>
	</header>

	{% block content %}{% endblock content %}
</body>
</html>